<div class="part-section" id="works">
    <h4><%=__('index.works')%></h4>
    <div class="float-works">
        <div class="onework work1">
            <a href="<%=theme.works.work_1%>">
                <img src="./img/work_1.jpg" alt="work_1">
                <div class="img-div"><p>It's a simple hexo-theme</p></div>
            </a>

        </div>

        <div class="onework work2">
            <a href="<%=theme.works.work_2%>">
                <img src="./img/work_2.jpg" alt="work_2">
                <div class="img-div"><p>Online Reservation</p></div>
            </a>

        </div>
        <div class="onework work3">
            <a href="<%=theme.works.work_3%>">
                <img src="./img/work_3.jpg" alt="work_3">
                <div class="img-div"><p>IOTSystem</p></div>
            </a>

        </div>
        <div class="onework work4">
            <a href="<%=theme.works.work_4%>">
                <img src="./img/work_4.jpg" alt="work_4">
                <div class="img-div"><p>Coming soon</p></div>

            </a>
        </div>
    </div>
    <div class="nav-btn-div">
    <input class="btn btn-primary" type="button" value="<">
    <input class="btn btn-primary" type="button" value=">">
    </div>
    <p>
        <%=theme.index.works%>
    </p>
    <p><a href="<%=theme.contact.github%>">more...</a></p>
</div>
<hr>