 <div class="part-section" id="works">
                <h4><%=__('index.works')%></h4>
                    <div class="onework">
                       <a href="<%=theme.works.work_1%>">   
                        <img src="./img/works.png" alt="work_1">
                        <div class="img-div">It's a simple hexo-theme</div>
                        </a>   
                       <h6>hexo-theme</h6>
                    </div>

                    <div class="onework">
                       <a href="<%=theme.works.work_2%>">
                        <img src="./img/works.png" alt="work_2">
                        <div class="img-div">Online Reservation</div>
                        </a>
                         <h6>CCNU ChiSha</h6>
                    </div> 
                    <div class="onework">
                       <a href="<%=theme.works.work_3%>">
                        <img src="./img/works.png" alt="work_3">
                         <div class="img-div">First work about</div>
                        </a>
                         <h6>New IOT System</h6>
                    </div> 
                    <div class="onework">
                       <a href="<%=theme.works.work_4%>">
                        <img src="./img/works.png" alt="work_4">
                         <div class="img-div">First work about</div>
                        </a>
                         <h6>New IOT System</h6>
                    </div> 
                    <div class="clear"></div>
                <p><%=theme.index.works%></p>
                <p><a href="<%=theme.contact.github%>">more...</a></p>
            </div>
            <hr>