<div class="part-section" id="notes">
        <h4><%=__('index.notes')%></h4>
        <ul>
        <% var articles=site.posts.toArray();%>
        <%var length=articles.length%>
        <% for(var i=0;i<6;i++){ %>
            <li>
               <a href="<%=articles[length-i-1].path%>"><%=articles[length-i-1].title%></a>
               <span class="fui-calendar"> <%=date(articles[length-i-1].date,'YYYY/M/D')%></span>
           </li>
        <%}%>
          </ul>
    <p><%=theme.index.notes%></p>
    <p><a href="archives">more...</a></p>
</div>
<hr>  
