 <% if (page.prev || page.next){ %>
      <% if (page.prev){ %>
       
        <a class="prev-arrow" href="<%- url_for(page.prev.path) %>">
          <strong class="fui-arrow-left"></strong>
            <%= __('nav.newer')%>
            <% if (page.prev.title){ %>
              <%= page.prev.title %>
            <% } else { %>
              (no title)
            <% } %>
        </a>
       
       
      <% } %>
      <% if (page.next){ %>
        
        <a class="next-arrow" href="<%- url_for(page.next.path) %>">
           <%= __('nav.older')%>
            <%= page.next.title %>
          <strong class="fui-arrow-right"></strong>
        </a>
       
      <% } %>
      <div class="clear"></div>
    
      
      
    
<% } %>